<a href="https://colab.research.google.com/github/heispv/python-programming-july2023/blob/master/07_python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loop

ma darkol tooye python do model loop darim

1. for loop
2. while loop

ba tavajoh be niazi ke darim mitoonim az harkudum azin halghe ha estefade bokonim.

## For loop

```
for sth in sth:
  do_sth
```

In [1]:
my_list = ['mesvak', 'goje', 'noon', 'ab']

for kharid in my_list:
  print(kharid)

mesvak
goje
noon
ab

> ma mitoonim tooye hame data type hayi ke iterable hastan becharkhim va az loop estefade konim.

* list - tuple - str - dict

In [11]:
my_word = 'hello'

for char in my_word:
  print(f'the word is: {char}')

the word is: h
the word is: e
the word is: l
the word is: l
the word is: o

In [3]:
my_dict = {
    'name': 'Ali',
    'family': 'Mohamadi',
    'age': 13
}

for sth in my_dict:
  print(sth)

name
family
age

In [4]:
my_dict = {
    'name': 'Ali',
    'family': 'Mohamadi',
    'age': 13
}

for sth in my_dict.values():
  print(sth)

Ali
Mohamadi
13

In [5]:
my_dict = {
    'name': 'Ali',
    'family': 'Mohamadi',
    'age': 13
}

for sth in my_dict.items():
  print(sth)

('name', 'Ali')
('family', 'Mohamadi')
('age', 13)

In [6]:
first, second = ('name', 'Ali')

In [9]:
my_dict = {
    'name': 'Ali',
    'family': 'Mohamadi',
    'age': 13
}

for key, value in my_dict.items():
  print(f'The key is: {key}\nThe value is: {value}\n\n')

The key is: name
The value is: Ali


The key is: family
The value is: Mohamadi


The key is: age
The value is: 13

In [12]:
my_list = ['mesvak', 'goje', 'noon', 'ab']

len(my_list)

4

In [15]:
tedad = 0

for kharid in my_list:
  tedad = tedad + 1

print(tedad)

4

In [16]:
my_str = 'Hello Friends'
len(my_str)

13

In [18]:
tedad = 0

for harf in my_str:
  tedad = tedad + 1

print(tedad)

13

In [20]:
the_list = [1, 2, 10, 20]
sum(the_list)

33

In [21]:
majmoo = 0

for num in the_list:
  majmoo = majmoo + num

print(majmoo)

33

In [32]:
my_list = ['mesvak', 'goje', 'noon', 'ab']

kalame_num = 0

for kalame in my_list:
  harf_num = 0
  kalame_num += 1 # kalame_num = kalame_num + 1
  for harf in kalame:
    harf_num += 1
    print(f'Harfe {harf_num} kalameye {kalame_num} ({kalame}): {harf}')

Harfe 0 kalameye 1 (mesvak): m
Harfe 1 kalameye 1 (mesvak): e
Harfe 2 kalameye 1 (mesvak): s
Harfe 3 kalameye 1 (mesvak): v
Harfe 4 kalameye 1 (mesvak): a
Harfe 5 kalameye 1 (mesvak): k
Harfe 0 kalameye 2 (goje): g
Harfe 1 kalameye 2 (goje): o
Harfe 2 kalameye 2 (goje): j
Harfe 3 kalameye 2 (goje): e
Harfe 0 kalameye 3 (noon): n
Harfe 1 kalameye 3 (noon): o
Harfe 2 kalameye 3 (noon): o
Harfe 3 kalameye 3 (noon): n
Harfe 0 kalameye 4 (ab): a
Harfe 1 kalameye 4 (ab): b

In [43]:
for i in range(5): # [0, 1, 2, 3, 4]
  print(f'{i}: hello')

0: hello
1: hello
2: hello
3: hello
4: hello

In [49]:
for i, char in enumerate('hello'):
  print(f'{i}: {char}')

0: h
1: e
2: l
3: l
4: o

## while Loop

zamani ke nemidoonim mikhaim cheghad becharkhim ya mikhaim yek shart baraye halghamoon tain bokonim.

In [53]:
a = 0

while a < 1:
  print('a')
  a += 1

a

In [61]:
mistakes = 0

while True:

  if mistakes > 3:
    print('Your phone is locked for 5 minutes.')
    break

  ans = input('Pass ro vared kon: ')

  if ans == '123':
    print('Password is correct.')
    break
  else:
    print('wrong password.')
    mistakes += 1
    print(f'{4 - mistakes} attemps left.')

Pass ro vared kon: 2
wrong password.
3 attemps left.
Pass ro vared kon: 1
wrong password.
2 attemps left.
Pass ro vared kon: 1
wrong password.
1 attemps left.
Pass ro vared kon: 5
wrong password.
0 attemps left.
Your phone is locked for 5 minutes.

> be komake keyword e `break` shoma mitoonin halghe ro beshkoonin.